.question-option{
  width: 700px;
  height: 300px;
  align-items: center; 
  margin: 0 auto; 
  border-radius: 20px;
  background-color: bisque;

}
.question-option p{
    background-color: aliceblue;
    padding: 5px;
  
}
.question{
    font-display: flex;
}
.question button {
    float: right;
    padding: 10px;
    color: yellow;
    background-color: black;
    border-radius: 10px;

}


@media only screen and (max-width: 450px) {
.question-option {
        width: 320px;
        height: 330px;
        align-items: center;
        margin: 20 auto;
        border-radius: 20px;
        background-color: bisque;
        font-weight: 100;

    }
.question h3 {
    font-weight: bold;
    font-size: large;
    text-align: center;
}


}