.header-container {
    display: flex;
    background-color: black;
    height: 60px;
    color: aliceblue;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}


.header{
    color: aliceblue;
  
   
}
.header a {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    margin-right: 25px;
    justify-items: center;

    
}
.quiz{
    font-weight: bold;
    padding-left: 10%;
}


@media only screen and (max-width: 480px) {
.quiz {
        font-weight: 100;
        padding-left: 2%;
    }
.header a {
        
            font-weight: 100;
            color: aliceblue;
            margin-right: 10px;
            justify-items: center;
    
    
        }
}