.header-container {
    display: flex;
    background-color: black;
    height: 60px;
    color: aliceblue;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}


.header{
    color: aliceblue;
  
   
}
.header a {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    margin-right: 25px;
    justify-items: center;

    
}